body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(203, 74, 95);
}

h1 {
    color:#e0e6fc;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 70px;
    text-shadow: 0 4px 0 whitesmoke,
                 0 20px 5px rgba(91, 213, 235, 0.1);
    animation: float 3s linear infinite;
    animation-direction:alternate;
}

@keyframes float {
    from {transform: rotate(20deg);}

    to {transform: rotate(-20deg);}
}