body {
  height: 100vh;
  animation: bgchange 8s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:#12bb96;
  font-size: 70px;
}

@keyframes bgchange {
  0% {
    background-color: #b3bcd2;
  }

  20% {
    background-color: #0e3c8c;
  }

  40% {
    background-color: #08dfd8;
  }

  60% {
    background-color: #52799e;
  }

  80% {
    background-color: #0761e0;
  }

  100% {
    background-color: #F9C1C2;
  }
}
